{% load static %}
<html>
    <head>
        <title> Django Blog </title>  
        <link rel="stylesheet" href={% static 'css/base.css'>
    </head>
    <body>
        <header>
            <h1><a href={% url 'home' %}>Django Board</a></h1>
        </header>
        <div>
            {% block content %}
    
            {% endblock content%}
        </div>
    </body>
</html> 

